/target
thesis/.vimproject
theses/main.log
theses/data
theses/tikz
theses/indent.log
theses/.vimproject
theses/main.auxlock
theses/indent.log
theses/notes
temp.abnf
data/diadem
theses/main.log
indent.log
theses/osnova.md
theses/main.aux
theses/main.out
theses/main.toc
theses/main.xdv
theses/aux
theses/main.bbl
theses/main.blg
